WIFI_SSID=""
WIFI_PASSWORD=""
CONFIG_WIFI_TOPIC=""

MQTT_BROKER_URI=""
MQTT_BROKER_USERNAME=""
MQTT_BROKER_PASSWORD=""
MQTT_INIT_LOGGER_ENABLED=false
MQTT_INIT_LOGGER_TOPIC=""
MQTT_LIVE_LOGGER_ENABLED=false
MQTT_LIVE_LOGGER_TOPIC=""

RGBLED_ENABLED=false
RGBLED_GPIO_RED=0
RGBLED_GPIO_GREEN=0
RGBLED_GPIO_BLUE=0
RGBLED_MQTT_TOPIC_COMMAND=""

SERVO_ENABLED=false
SERVO_GPIO=0
SERVO_MQTT_TOPIC_COMMAND=""
SERVO_MQTT_TOPIC_STATUS=""

