WIFI_SSID=""
WIFI_PASSWORD=""
CONFIG_WIFI_TOPIC=""

MQTT_BROKER_URI=""
MQTT_BROKER_USERNAME=""
MQTT_BROKER_PASSWORD=""
MQTT_INIT_LOGGER_ENABLED=false
MQTT_INIT_LOGGER_TOPIC=""
MQTT_LIVE_LOGGER_ENABLED=false
MQTT_LIVE_LOGGER_TOPIC=""

CONTROLLER_SERVO_GPIO=0
CONTROLLER_COMMAND_TOPIC=""
CONTROLLER_STATUS_TOPIC=""

LED_GPIO=0

TOUCH_PAD_OPEN=0
TOUCH_PAD_CLOSE=0
TOUCH_PAD_AUTO=0

HWLOCK_GPIO_HALL=0
HWLOCK_GPIO_SWITCH=0
HWLOCK_GPIO_SOFTLOCK=0
HWLOCK_SOFTLOCK_TOPIC=""
HWLOCK_STATUS_TOPIC=""

OUTDOOR_MODULE_ENABLED=true
OUTDOOR_MODULE_GPIO=0
OUTDOOR_MODULE_STATUS_TOPIC=""

