build

sdkconfig.old
sdkconfig

schematics/handle-module/handle-module-backups/
schematics/main-module/main-module-backups/
schematics/outdoor-module/outdoor-module-backups/

3d/*.FCBak

src/main_module/main/fm/fm_crypter_private.h
src/main_module/.settings/
