menu "Auto Open-Close WindowConfiguration"
   menu "WIFI Configuration"
   	  config WIFI_SSID
   	  	string "Wifi AP SSID"
   	  	default ""

   	  config WIFI_PASSWORD
   	  	string "Wifi AP Password"
   	  	default ""
   	  	
   	  config WIFI_TOPIC
   	  	string "WiFi MQTT Topic to listen Change-SSID command"
   	  	default ""
   endmenu

   menu "MQTT Configuration"
      config MQTT_BROKER_URI
         string "Broker URL"
         default ""

      config MQTT_BROKER_USERNAME
	     string "Broker user name"
	     default ""

      config MQTT_BROKER_PASSWORD
	     string "Broker user password"
	     default ""

      config MQTT_INIT_LOGGER_ENABLED
	     boolean "Enable log init messages to MQTT topic"
	     default false

      config MQTT_INIT_LOGGER_TOPIC
	     string "MQTT Init logger topic"
	     default ""

      config MQTT_LIVE_LOGGER_ENABLED
	     boolean "Enable log live messages to MQTT topic"
	     default false

      config MQTT_LIVE_LOGGER_TOPIC
	     string "MQTT live logger topic"
	     default ""
   endmenu

   menu "Servo Controller Configuration"
      config CONTROLLER_SERVO_GPIO
         int "GPIO PWM pin"
         default 0
         
      config CONTROLLER_COMMAND_TOPIC
         string "MQTT topic for listen controller commands"
         default ""

      config CONTROLLER_STATUS_TOPIC
         string "MQTT topic for publish controller status"
         default ""
   endmenu
   
   menu "LED Configuration"
      config LED_GPIO
         int "LED GPIO pin"
         default 0
   endmenu

   menu "Buttons Configuration"
      config BUTTON_OPEN
         int "OPEN button pin number"
         default 0

      config BUTTON_CLOSE
         int "CLOSE button pin number"
         default 0
   endmenu

   menu "Hardware Locks Configuration"
      config HWLOCK_GPIO_HALL
         int "GPIO Hall sensor status"
         default 0

      config HWLOCK_GPIO_SWITCH
         int "GPIO switch status"
         default 0

      config HWLOCK_GPIO_SOFTLOCK
         int "GPIO soft lock"
         default 0
         
      config HWLOCK_SOFTLOCK_TOPIC
         string "MQTT topic for change soft lock status"
         default ""
         
      config HWLOCK_STATUS_TOPIC
         string "MQTT topic for hwlocks status"
         default ""
   endmenu
   
   menu "Outdoor module integration"
   	  config OUTDOOR_MODULE_ENABLED
         boolean "Enable outdoor module integration"
         default true

   	  config OUTDOOR_MODULE_GPIO
         int "GPIO connected to outdoor module"
         default 0
   	  
   	  config OUTDOOR_MODULE_STATUS_TOPIC
         string "MQTT topic for outdoor module status"
         default ""
   endmenu
endmenu