WIFI_SSID=""
WIFI_PASSWORD=""
CONFIG_WIFI_TOPIC="/acw/system/0/wifi/command"

MQTT_BROKER_URI=""
MQTT_BROKER_USERNAME=""
MQTT_BROKER_PASSWORD=""
MQTT_INIT_LOGGER_ENABLED=false
MQTT_INIT_LOGGER_TOPIC="/acw/system/0/logger/init"
MQTT_LIVE_LOGGER_ENABLED=false
MQTT_LIVE_LOGGER_TOPIC="/acw/system/0/logger/live"

PIN_STEPPER_ENABLE=2
PIN_STEPPER_POWER_ON=12
PIN_STEPPER_DIR=16
PIN_STEPPER_STEP=17
PIN_STEPPER_LIMITSWITCH=4

PIN_FM_OUT_433=22
PIN_FM_IN_433=5
PIN_FM_IN_315=21
FM_TX_CARRIER_FREQ=40000

PIN_CHARGER_START_BUTTON=27
PIN_CHARGER_ENABLE=32